<section class="container-xxl">
  <h2 class="text-white">Mais Assistidos</h2>

  <div class="row justify-content-end text-end" id="first-movie">
    <div class="col-md-6">

      <div class="card text-white mb-3" [style.backgroundImage]="'url('+ popularMovies[0].backdrop_path +')'"
        id="card-movie">

        <div class="background">

          <div class="card-body">

            <!-- Movie title -->
            <h5 class="text-start card-title title_movie">
              {{ popularMovies[0].title || popularMovies[0].original_name }}
            </h5>

            <!-- Movie description -->
            <p class="text-start card-text">
              {{ popularMovies[0].overview.substr(0,150) }} ...
            </p>

            <!-- Button watch now -->
            <button type="button" class="btn btn-outline-warning" id="button-watch">
              <i class="fa fa-play" aria-hidden="true"></i>
              Assista Agora
            </button>

            <!-- Button trigger modal -->
            <button type="button" id="button-watch" class="btn btn-outline-warning"
              (click)="openModal(popularMovies[0])">
              Mais informações
            </button>

          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">

      <div class="card text-white mb-3" [style.backgroundImage]="'url('+ popularMovies[6].backdrop_path +')'"
        id="card-movie">

        <div class="background">

          <div class="card-body">

            <!-- Movie title -->
            <h5 class="text-start card-title title_movie">
              {{ popularMovies[6].title || popularMovies[6].original_name }}
            </h5>

            <!-- Movie description -->
            <p class="text-start card-text">
              {{ popularMovies[6].overview.substr(0,150) }} ...
            </p>

            <!-- Button watch now -->
            <button type="button" class="btn btn-outline-warning" id="button-watch">
              <i class="fa fa-play" aria-hidden="true"></i>
              Assista Agora
            </button>

            <!-- Button trigger modal -->
            <button type="button" id="button-watch" class="btn btn-outline-warning"
              (click)="openModal(popularMovies[6])">
              Mais informações
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>


</section>
