<nav class="navbar navbar-expand-lg">
  <div class="container px-5">
    <img src="../../../assets/logo/logo_horizon_flix.svg" width="200px" alt="">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav ms-auto mb-1 mb-lg-0" id="navbar-ul">

        <li role="button" class="nav-item">
          <a class="text-white nav-link">
            <mat-icon class="color_primary">search</mat-icon>
          </a>
        </li>

        <li role="button" class="nav-item">
          <a class="text-white nav-link">
            <mat-icon>notifications</mat-icon>
          </a>
        </li>

        <li role="button" class="nav-item">
          <div class="image-profile">
            <img src="../../../assets/logo/img-profile.png" alt="">
          </div>
        </li>

        <li role="button" class="nav-item name-profile"><a class="text-white nav-link">
            Luis
          </a>
        </li>

        <li role="button" class="nav-item">
          <a class="text-white nav-link">
            <mat-icon class="color_primary">keyboard_arrow_down</mat-icon>
          </a>
        </li>
      </ul>

    </div>
  </div>
</nav>