.material-icons.color_primary { color: #FFC30D; }

.image-profile {
  width: 2.5rem;
  height: 2.5rem;

  img {
    margin-top: .125rem;
    width: 3.4375rem;
    height: 2.0625rem;
  }
}

.name-profile {
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin-left: .4375rem;
}

#navbar-ul {
  margin-top: .625rem;
}
