header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

#imdb-rating {

  img {
    width: 3.75rem;
  }
}

.title_movie {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 65px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
}
